body {
	background-color: #0d1321;
}

button a {
	cursor: pointer;
}

.backFace {
	backface-visibility: hidden;
}

.rotation3d {
	transform: perspective(600px) rotateY(-180deg);
}
.rotationBack3d {
	transform: perspective(600px) rotateY(180deg);
}

/* .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
} 



/* nav {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
